@page
@model Task_Tracker.Pages.Tasks.CreateModel
@{
}

<br>
<h2>Add New Task</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="Project">Project</label>
        <textarea class="form-control" name="project" rows="1" value="@Model.taskInfo.project"></textarea>
    </div>
    <div class="form-group">
        <label for="Task">Title</label>
        <textarea class="form-control" name="title" rows="1" value="@Model.taskInfo.title"></textarea>
    </div>
    <div class="form-group">
        <label for="Type">Issue Type</label>
        <textarea class="form-control" name="issueType" rows="1" value="@Model.taskInfo.issueType"></textarea>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" name="description" rows="3" value="@Model.taskInfo.description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

